@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/awesome/fontawesome-webfont.eot');
  src: url('../fonts/awesome/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/awesome/fontawesome-webfont.woff2') format('woff2'), url('../awesome/fonts/fontawesome-webfont.woff') format('woff'), url('../awesome/fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/awesome/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'iconvtc';
  src: url('../fonts/iconvtc/vtc.eot');
  src: url('../fonts/iconvtc/vtc.eot') format('embedded-opentype'), url('../fonts/iconvtc/vtc.woff') format('woff'), url('../fonts/iconvtc/vtc.woff') format('woff'), url('../fonts/iconvtc/vtc.ttf') format('truetype'), url('../fonts/iconvtc/vtc.svg') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'miso';
  src: url('../fonts/miso/miso-webfont.eot');
  src: url('../fonts/miso/miso-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/miso/miso-webfont.woff2') format('woff2'), url('../fonts/miso/miso-webfont.woff') format('woff'), url('../fonts/miso/miso-webfont.ttf') format('truetype'), url('../fonts/miso/miso-webfont.svg#miso') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'misobold';
  src: url('../fonts/miso-bold/miso-bold-webfont.eot');
  src: url('../fonts/miso-bold/miso-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/miso-bold/miso-bold-webfont.woff2') format('woff2'), url('../fonts/miso-bold/miso-bold-webfont.woff') format('woff'), url('../fonts/miso-bold/miso-bold-webfont.ttf') format('truetype'), url('../fonts/miso-bold/miso-bold-webfont.svg#misobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hand';
  src: url('../fonts/handsean/handsean-webfont.eot');
  src: url('../fonts/handsean/handsean-webfont.eot') format('embedded-opentype'), url('../fonts/handsean/handsean-webfont.woff2') format('woff2'), url('../fonts/handsean/handsean-webfont.woff') format('woff'), url('../fonts/handsean/handsean-webfont.ttf') format('truetype'), url('../fonts/handsean/handsean-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/****************************************************************************************/

/****************************************************************************************/

/* css sodimac-incial*/

/****************************************************************************************/

/****************************************************************************************/

.breadrumbWrap {
  display: none;
}

#main.newMainSection>.container {
  padding-right: 0px;
  padding-left: 0px;
  overflow: hidden;
}

#main.newMainSection {
  margin: 0!important;
}

#main.newMainSection>.container>.col-md-12 {
  padding: 0!important;
  /* background: #e4e4e4; */
}

.container.breadcrumb.hidden-md.hidden-lg.newMbreadrumb {
  display: none !important;
}

#main.newMainSection>.container {
  width: 100%;
}

.contenido {
  padding-left: 15px;
  background: #e4e4e4;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .contenido {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .contenido {
    width: 970px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1200px) {
  .contenido {
    width: 1030px;
  }
}

.contenido, .contenedor-carrousel {
  margin-right: auto;
  margin-left: auto;
}

/* fin css sodimac-inicial */

/****************************************************************************************/

/****************************************************************************************/

/* css generales */

/****************************************************************************************/

/****************************************************************************************/

.pad-0 {
  padding: 0;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

.pad-bottom {
  padding-bottom: 15px;
}

/* fin css generales */

/****************************************************************************************/

/****************************************************************************************/

/****************************************************************************************/

/* css banner */

/****************************************************************************************/

.slider-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 360px;
}
.slick-prev.slick-arrow:before {
content: '';
}
.slick-prev, .slick-next {
  z-index: 20;
}
.timer{
  background-color: #ebebeb;
  font-family: miso;
  line-height: 65px;
  font-size: 1.5em;
  padding: 0px 10px;
  margin-bottom: 70px;
}
.day-timer{
font-family: hand;
font-size: .8em;
}
.text-timer{
  width:35.5%;
  display: inline-block;
  position: relative;
}
.text-timer.left{
left: 6px;
}
.text-timer.right{
right: 2px;
}
.paralelogramo {
width:25%;
display: inline-block;
  background: #0072CE;
      color: #fff;
      font-size: 23px;
      height: 65px;
      line-height: 65px;
      text-align: center;
      font-family: miso;
      /* height: 100%; */
      -webkit-transform: skew(-20deg);
      -moz-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
      -o-transform: skew(-20deg);
      transform: skew(-20deg);
}

.arrow-left, .arrow-right {
  top: 95px;
  width: 47px;
  height: 75px;
  z-index: 800;
  padding: 17px 14px;
  background: #efefef;
}

.arrow-left {
  left: 40px;
}
.slick-dotted.slick-slider {
    margin-bottom: 50px!important;
}
.slider-drag1.vitrina{
  margin-bottom: 0px!important;
}

.arrow-right {
  right: 67px;
}

.contenedor-logo {
  width: 120px;
  position: relative;
  top: 23px;
  left: 39px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  bottom: -21px;
}

.slider-drag1.vitrina .slick-dots {
  justify-content: center;
    bottom: -105px;}



.slick-dots li {
  display: inline-block;
  padding: 5px;
  margin: 0 10px;
}

.slick-dots li button {
  border: none;
  padding: 10px;
  background: #efefef;
  width: 10px;
  height: 10px;
  border-radius: 21px;
}

.slick-dots li button:before {
  content: '';
}

.div-carrousel .slick-dots li button {
  background: #e4e4e4;
}

.slick-dots .slick-active button {
  border: none;
  padding: 13px;
  background: rgb(0, 114, 206);
  border: 2px #e4e4e4 solid;
  top: -5px;
  margin: 0 -3px;
  position: relative;
}

.slider-header-1 {
  background-image: url(../img/banner/mobile/banner1-mobile.jpg);
}

.slider-header-2 {
  background-image: url(../img/banner/mobile/banner2-mobile.jpg);
}

.slider-header-3 {
  background-image: url(../img/banner/mobile/banner3-mobile.jpg);
}

.slider-header-4 {
  background-image: url(../img/banner/mobile/banner4-mobile.jpg);
}

/* fin css banner */

/* *******************************************************  */

/* ***************** media css para secciones ***************  */

/* *******************************************************  */

.content-section {
  position: relative;
  overflow: hidden;
}

.cont-img {
  background: #fff;
      height: 360px;
      position: relative;
}

.call-action {
  background-color: #dd0021;
  color: #fff;
  font-family: miso;
  display: block;
  font-size: 2em;
  text-align: center;
  width: 55%;
  height: 65px;
  line-height: 65px;
  margin: 0 auto;
  /* padding: 0px 20px; */
}
.call-action.more{
  height: 50px;
  line-height: 50px;
}
.bg-flipper {
  background-image: url(../img/section/mobile/prepara_tribuna.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: width 350ms cubic-bezier(0.77, 0.015, 0.01, 0.985);
  transition: width 350ms cubic-bezier(0.77, 0.015, 0.01, 0.985);
  background-position: center center;
}

.animation-bg {
  -moz-animation: anim-change 3s linear infinite;
  -webkit-animation: anim-change 3s linear infinite;
  animation: anim-change 3s linear infinite;
  -o-transition: width 350ms cubic-bezier(0.77, 0.015, 0.01, 0.985);
}
.txt-title{
  color: #DD0021;
      position: absolute;
      font-family: miso;
      font-size: 2.5em;
      z-index: 1;
      padding: 30px 0;
      /* margin: 0 auto; */
      width: 80%;
      margin: 0 10%;
}

.bg-change {
  background-repeat: no-repeat;
  background-size: 600px;
  text-align: center;
  -moz-animation: anim-bag 8s linear infinite;
  -webkit-animation: anim-bag 8s linear infinite;
  animation: anim-bag 8s linear infinite;
  -o-transition: width 350ms cubic-bezier(0.77, 0.015, 0.01, 0.985);
  -webkit-transition: width 350ms cubic-bezier(0.77, 0.015, 0.01, 0.985);
  transition: width 350ms cubic-bezier(0.77, 0.015, 0.01, 0.985);
  background-position: center center;
  cursor: pointer;
}

.product-name{
  color: #333;
      font-family: arial;
      font-size: 1.2em;
      line-height: 14px;
}
.product-price{
  font-weight: bold;
  font-family: arial;
  font-size: 1.4em;
  line-height: 32px;
}
.product-detail{
  background: #DD0021;
  color: #fff;
  padding: 13px 13px;
  font-family: miso;
  font-size: 1.8em;
  line-height: 2.3em;
}

#camino_rusia .cont-img {
  background: #ebebeb;
    height: auto;
}
#arma_tribuna .content-section{
  background: #ebebeb;
  opacity: .5;
}
#arma_tribuna .cont-img{
  height: 175px;
      text-align: center;
      background: #ebebeb;
}
.description-prod {
    padding: 12px 0px;
    opacity: 0;
}
 .slick-current .description-prod{
    opacity: 1;
}

/* slider-productos */
#arma_tribuna .arrow-left, #arma_tribuna .arrow-right {
    background: none;
    top: -63px;
}
#arma_tribuna .arrow-left {
    left: 25px;
}
#arma_tribuna .arrow-right {
    right:  50px;
}
#arma_tribuna img.img-responsive {
  width: 80%;
      display: inline-block;
      padding: 10px 0;
}

#arma_tribuna  .content-section.slick-current{
opacity:1;
}

#demuestra_hincha img {
  width: 80%;
      display: inline-block;
      top: 33%;
      position: relative;
}

.title-tribuna {
  height: 100px;
      font-size: 2.3em;
      padding-top: 13px;
      line-height: 1.2em;
}

.title-tribuna p:nth-child(1) {
  font-family: miso;
}

.title-tribuna p:nth-child(2) {
  color: #dd0021;
  font-family: hand;
}

.header-fixture {
  height: 100px;
  font-size: 1;
  padding-top: 33px;
  line-height: 1.2em;
}

.header-fixture p:nth-child(1) {
  color: #dd0021;
  font-family: miso;
  font-size: 2.5em;
}

.header-fixture p:nth-child(2) {
  font-family: miso;
  font-size: 2em;
  line-height: 45px;
}
.content-fixture{
  padding: 0 10px;
  font-family: miso;
    padding-bottom:  33px;
  font-size: 1.8em;
}
.img-flag {
    width: 28px;
}
.time-fixture {
    line-height: 35px;
}
.place-fixture{
  color: #818181;
}
.fixture-country {
  font-size: .8em;
  padding-top: 7px;
}
.bag-dots{
  background-image: url(../img/fixture/puntos.png);
  background-repeat: no-repeat;
  padding: 15px 0;
}
.bg-movil {
  background-image: url(../img/section/mobile/demuestra_hincha.jpg);
}

.title-section {
  font-family: miso;
      font-size: 1.7em;
      padding: 5px 0;
      line-height: 20px;
      text-align: center;
}

.title-section.title-white {
  color: #fff;
}

.text-section {
  position: absolute;
  bottom: 16px;
  width: 100%;
}
.cont-header{
  font-family: miso;
      font-size: 2.3em;
      text-align: center;
      line-height: 20px;
      color: #fff;
      padding: 18px 0 22px;
}
#estamos_devuelta .cont-header{
  background-color: #dd0021;
}
#tribuna_terraza .cont-header{
  background-color: #0072ce;
}
#estamos_devuelta .cont-img ,
#tribuna_terraza .cont-img{
  height: 315px;
}

#slider-fixture .arrow-left ,#slider-fixture .arrow-right{
background: none;
top: -50px;
}

.cont-header p:nth-child(1){
line-height: 40px;
}
.cont-header p:nth-child(2){
font-family: hand;
font-size: .8em;
}

@keyframes anim-bag {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -188px -188px;
  }
}

/* transition css tipo slider */

/* @keyframes anim-change {
  0% {
    background-image: url(../img/section/mobile/prepara_tribuna.jpg);
  }
  50% {
    background-image: url(../img/section/mobile/prepara_tribuna2.jpg);
  }
  100% {
    background-image: url(../img/section/mobile/prepara_tribuna.jpg);
  }
} */

@keyframes anim-change {
  0%, 49% {
    background-image: url(../img/section/mobile/prepara_tribuna.jpg);
  }
  50%, 99% {
    background-image: url(../img/section/mobile/prepara_tribuna2.jpg);
  }
  100% {
    background-image: url(../img/section/mobile/prepara_tribuna.jpg);
  }
}

/* ******************************************************  */

/* *******************************************************  */

/* ***************** media css para desktop ***************  */

/* *******************************************************  */

/* *******************************************************  */

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .slick-dots {
    display: flex;
    justify-content: start;
    bottom: 106px;
    left: 175px;
  }
  .slider-drag1:hover .arrow {
    opacity: 1;
  }
  .slider-drag1 {
    margin-bottom: 15px!important;
  }
  .contenedor-logo {
    width: 260px;
    position: relative;
    top: 58px;
    left: 131px;
  }
  .slick-prev:before, .slick-next:before {
    content: ''!important;
  }
  .slider-drag1 .slick-prev, .slider-drag1 .slick-next {
    z-index: 20;
  }
  .slider-drag1 .slick-prev {
    left: 15px;
    width: 37px;
    height: 90px;
    top: 44%;
  }
  .slider-drag1 .slick-next {
    right: 26px;
    width: 37px;
    height: 90px;
    top: 44%;
  }
  .arrow-left, .arrow-right {
    top: 205px;
    left: 0;
    opacity: 0;
    width: 50px;
    height: 75px;
    padding: 17px 14px;
    background: rgba(255, 255, 255, 0.7);
  }
  span.arrow-left {
    left: 7px;
  }
  span.arrow-right {
    right: 13px;
  }
  .slider-header {
    height: 455px;
    z-index: 23;
  }
  .timer{
    margin-bottom: 35px;
    font-size: 2.6em;
    padding: 0 20px;
    text-align: center;
  }
  .text-timer{
    width: auto;
  }
  .paralelogramo{
    width: 160px;
font-size: 1.5em;
display: inline-block;
    margin: 0 20px;
    height: 70px;
  }
  .txt-title{
    font-size: 3em;
  }
  .header-fixture p:nth-child(1) {
    font-size: 3em;
    color: #fff;
}
#estamos_devuelta .cont-header p:nth-child(2) {
    font-family: miso;
    font-size: .8em;
}
.title-tribuna{
  font-size: 3em;
      height: 145px;
      padding: 20px 0;
}
/* .title-tribuna p:nth-child(1) {
  font-family: miso;
}

.title-tribuna p:nth-child(2) {
  color: #dd0021;
  font-family: hand;
} */
.product-detail{
  position: absolute;
  top: 170px;
  padding: 0px 25px;
  left: 111px;
  opacity: 0;
}
#camino_rusia .cont-img {

    height: 425px;
}

.header-fixture {
  margin-bottom: 40px;
  color: #fff;
     background-image: url(../img/fixture/bg-fixture.jpg);
     background-size: 500px;
     background-repeat: no-repeat;

}
.header-fixture:before {
  content: '';
  position: absolute;
  border-width: 18px;
  transition: all 1s;
  border-color: #DD0021 #ebebeb #ebebeb #ebebeb;
  bottom: 290px;
  border-style: solid;
  right: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: 0 auto;
}
  .txt-red{
    font-family: hand;
    color: #DD0021;
    margin: 0 15px;

  }
  .slider-header-1 {
    background-image: url(../img/banner/desktop/banner1-desktop.jpg);
  }
  .slider-header-2 {
    background-image: url(../img/banner/desktop/banner2-desktop.jpg);
  }
  .slider-header-3 {
    background-image: url(../img/banner/desktop/banner3-desktop.jpg);
  }
  /* ****************************************** */
  /* css section */
  /* ******************************************* */
  .cont-img {
    height: 425px;
    background: #DEEFFE;
  }
  .cont-header{
    line-height: 30px;
    font-size: 2.6em;
  }
#arma_tribuna  .content-section:hover{
  opacity: .5;
  }

  #arma_tribuna  .content-section:hover .product-detail{
      opacity: 1;
    }
  #arma_tribuna .cont-img {
    height: 335px;
}
#arma_tribuna .cont-img.bg-gray {
  background: #efefef;
}
#arma_tribuna .content-section {
    opacity: 1;
}
.description-prod {
    opacity: 1;
}
.description-prod.gray {
    background: #efefef;
}
.slider-productos {

    margin-bottom: 30px;
  }
  .title-section {
    padding: 15px 0 0;
  }
  .pad-bottom {
    padding-bottom: 15px;
  }
  .pad-right {
    padding-right: 15px;
  }
  .pad-left {
    padding-left: 15px;
  }
  .bg-movil {
    background-color: #0072ce;
  }
  .bg-img {
    background-image: url(../img/section/mobile/demuestra_hincha.jpg);
  }
  .call-action {
    width: 60%;
    font-size: 2.4em;
    line-height: 61px;
    height: 61px;
  }
  .title-section {
    font-size: 1.8em;
  }
  .lightWord {
    font-size: 1.5em;
  }
  .bg-flipper:hover {
    background-image: url(../img/section/mobile/prepara_tribuna2.jpg);
  }
  .bg-flipper {
    background-image: url(../img/section/mobile/prepara_tribuna.jpg);
  }
}

/* fin media css para desktop */

/* *******************************************************  */

/* ***************** media css para categoria ***************  */

/* *******************************************************  */

/* fin media css para desktop */
